* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  background: #333;
  color: white;
  height: 100px;
  width: 100%;
}
.wrapper {
  max-width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#nav ul li {
  margin: 0 10px;
}
